.auth-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  direction: rtl;
  font-family: Arial, sans-serif;
}

.auth-title {
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.auth-btn:hover {
  background-color: #0056b3;
}

.toggle-area {
  margin-top: 20px;
}

.toggle-btn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 5px;
  font-size: 14px;
}


.status-box {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.status-error {
  background-color: #ffe6e6;
  color: #d8000c;
  border: 1px solid #d8000c;
}

.status-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}